@import '../abstract/variaveis';

.banner {
    background: url(../imagens/banner.jpeg) 27% center no-repeat;
    min-height: 50vh; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    .inner-banner {
        padding: 6rem;
        background-color: $cor-terciaria;
        opacity: 0.9;
        border-radius: 45px;
        h1 {
            font-size: $tamanho-do-texto *1.3;
            color: $cor-primaria;
            margin-bottom: .5rem;
        }
        h2 {
            font-size: $tamanho-do-texto / 1.8;
            color: $cor-secundaria;
        }
    }
}